# .NET/Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.dbmdl
*.pdb
.vs/

# Node.js/React
node_modules/
build/
dist/
.env
.next/
.vercel/

# OS
Thumbs.db
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
